<!-- views/posts/post_show.ejs -->

<div class="post-page">
    <div class="post-info-page">
        <h1 class="post-title"><%= post.title %></h1>
        <div class="post-details">
            <div class="post-info">
            <i class="fas fa-map-marker-alt"></i>
            <span class="post-location"><%= post.location %></span>
            <i class="fas fa-user"></i>
            <span class="post-author"><%= post.author.userID %></span>
            </div>
            <div class="post-meta">
                <span class="post-date">
                    <i class="far fa-clock"></i>
                    <span data-date="<%= post.createdAt %>"></span>
                </span>
                <% if(post.updatedAt) { %>
                    <span class="post-update">
                    <i class="fas fa-history"></i>
                    <span data-date="<%= post.updatedAt %>"></span>
                    </span>
                <% } %>
            </div>
        </div>
        <div class="post-photo">
            <% if(post.attachment && post.attachment.length > 0) { %>
              <div class="image-container current">
                <img src="/uploads/<%= post.attachment[0].serverFileName %>" alt="사진이 없습니다." />
              </div>
              <% if(post.attachment.length > 1) { %>
                <div class="image-navigation">
                  <button class="prev-button">Prev</button>
                  <button class="next-button">Next</button>
                </div>
              <% } %>
            <% } else { %>
              <p>There are no photos for this post.</p>
            <% } %>
        </div>
          
        <div class="post-photo-modal">
            <span class="close">X</span>
            <img class="modal-content" id="img-enlarged">
        </div>
      
        <div class="post-body">
            <div class="post-content">
                <p><%= post.body %></p>
            </div>
            <div class="post-actions">
            <a href="/<%= getPostQueryString() %>">뒤로가기</a>
            <% if(currentUser && currentUser.userID == post.author.userID) { %>
                <a href="/post/<%= post._id %>/edit<%= getPostQueryString() %>">편집하기</a>
            <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    const post = JSON.parse(unescape('<%= escape(JSON.stringify(post)) %>'));
    const prevButton = document.querySelector('.prev-button');
    const nextButton = document.querySelector('.next-button');
    const imageContainer = document.querySelector('.image-container.current');
    const image = imageContainer.querySelector('img');
    let currentIndex = 0;
  
    prevButton.addEventListener('click', () => {
        if (currentIndex === 0) {
            currentIndex = post.attachment.length - 1;
        } else {
            currentIndex--;
        }
        image.src = '/uploads/' + post.attachment[currentIndex].serverFileName;
    });
  
    nextButton.addEventListener('click', () => {
        if (currentIndex === post.attachment.length - 1) {
            currentIndex = 0;
        } else {
            console.log(currentIndex++);
        }
        image.src = '/uploads/' + post.attachment[currentIndex].serverFileName;
    });

    const modal = document.querySelector('.post-photo-modal');
    const modalImage = document.querySelector('.post-photo-modal img');
    const modalClose = document.querySelector('.post-photo-modal .close');

    image.addEventListener('click', () => {
        modal.style.display = 'flex';
        modalImage.src = image.src;
    });

    modalClose.addEventListener('click', () => {
        modal.style.display = 'none';
    });
</script>
  