<!-- views/posts/post_show.ejs -->

<div class="post-page">
    <div class="post-list">
        <h5>제목: <%= post.title %></h5>
        <div>
            <div>
                <div>위치: <%= post.location %></div>
                <div>본문: <%= post.body %></div>
                <div>작성자: <%= post.author.userID %></div>
                <div>사진: 
                    <% if(post.attachment) { %>
                        <% for(let i = 0; i < post.attachment.length; i++) { %>
                            <img src = "/uploads/<%= post.attachment[i].serverFileName %>" alt = "사진이 없습니다." width="76px" height="76px" />
                    <% } } %>
                </div>
            </div>
    
            <div>
                <div> 
                    <div><span>작성일: <%= post.createdAt %>"></span></div>
                    <% if(post.updatedAt) { %>
                        <div><span>수정일: <%= post.updatedAt %>"></span></div>
                    <% } %>
                </div>
            </div>
    
            <div>
                <div>
                    <a href = '/<%= getPostQueryString() %>'>뒤로가기</a>
                    <% if(currentUser) { %>
                        <% if(currentUser.userID == post.author.userID) { %> 
                            <a href = '/post/<%= post._id %>/edit<%= getPostQueryString() %>'>편집하기</a>
                        <% } %> 
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>