<!-- views/posts/post_list.ejs -->

<div class="post-page">
    <div class="post-list">
        <table class = "list">
            <thead>
                <tr>
                    <th class="n1" scope = "col">순서</th>
                    <th class="n3" scope = "col">제목</th>
                    <th class="n1" scope = "col">위치</th>
                    <th class="n2" scope = "col">작성자</th>
                    <th class="n2" scope = "col">작성일</th>
                    <th class="n1" scope = "col">조회</th>
                </tr>
            </thead>
    
            <tbody style="text-align:center;">
                <% if(posts == null || posts.length == 0){ %>
                <tr>
                    <td colspan=2> There is no data to show :( </td>
                </tr>
                <% } else { var cnt = 1; %>
                <% posts.forEach(function(post) { %>
                <tr>
                    <td><%= cnt++ %></td>
                    <td><a href="/post/<%= post._id %><%= getPostQueryString() %>"><%= post.title %></a></td>
                    <td><%= post.location %></td>
                    <td><%= post.author ? post.author.userID : "" %></td>
                    <td>
                        <span data-date="<%= post.createdAt %>"></span>    
                    </td>
                    <td><%= post.views %></td>
                </tr>
                <% })} %>
            </tbody>
        </table>
    </div>
    <form action="/" method="get">
        <div>
            <label>search</label>
            <div>
                <select name="searchType">
                    <option value="title" <%= searchType=='title'?'selected':'' %>>Title</option>
                    <option value="body" <%= searchType=='body'?'selected':'' %>>Body</option>
                    <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>Title, Body</option>
                </select>
                <input minLength="1" type="text" name="searchText" value="<%= searchText %>">
                <button type="submit">검색하기</button>
            </div>
        </div>
    </form>
</div>
<nav data-pagination>
    <%
        var previousBtnEnabled = currentPage>1;
        var nextBtnEnabled = currentPage<maxPage;
    %>
    <ul>
        <li>
            <a href="/<%= getPostQueryString(false, {page: currentPage - 1}) %>" <%= previousBtnEnabled?'':'disabled' %>><i class="fa-solid fa-chevron-left"></i></a>
        </li>
        <% for(i = 1; i <= maxPage; i++) { %>
            <li class="<%= currentPage == i?'current':'' %>"><a href="/<%= getPostQueryString(false, {page: i}) %>"><%= i %></a></li> <!--현재 페이지일시 class current 적용-->
        <% } %>
        <li>
            <a href="/<%= getPostQueryString(false, {page: currentPage + 1}) %>" <%= nextBtnEnabled?'':'disabled' %>><i class="fa-solid fa-chevron-right"></i></a>
        </li>
    </ul>
</nav>