<!-- views/posts/post_show.ejs -->

<div class="post-page">
    <div class="post-info-page">
        <h1 class="post-title"><%= post.title %></h1>
        <div class="post-details">
            <div class="post-info">
            <i class="fas fa-map-marker-alt"></i>
            <span class="post-location"><%= post.location %></span>
            <i class="fas fa-user"></i>
            <span class="post-author"><%= post.author.userID %></span>
            </div>
            <div class="post-meta">
                <span class="post-date">
                    <i class="far fa-clock"></i>
                    <span data-date="<%= post.createdAt %>"></span>
                </span>
                <% if(post.updatedAt) { %>
                    <span class="post-update">
                    <i class="fas fa-history"></i>
                    <span data-date="<%= post.updatedAt %>"></span>
                    </span>
                <% } %>
            </div>
        </div>
        <div class="post-photo">
            <% if(post.attachment && post.attachment.length > 0 && post.attachment[0].isDeleted == false) { %>
            <div class="image-container current">
                <img src="/uploads/<%= post.attachment[0].serverFileName %>" alt="사진이 없습니다." />
            </div>
            <% if(post.attachment.length > 1) { %>
                <div class="image-navigation">
                    <button class="prev-button">Prev</button>
                    <button class="next-button">Next</button>
                </div>
            <% } %>
            <% } else { %>
                <p>There are no photos for this post.</p>
            <% } %>
        </div>
      
        <div class="post-body">
            <div class="post-content">
                <p><%= post.body %></p>
            </div>
            <div class="post-actions">
            <a href="/<%= getPostQueryString() %>">뒤로가기</a>
            <% if(currentUser && currentUser.userID == post.author.userID) { %>
                <a href="/post/<%= post._id %>/edit<%= getPostQueryString() %>">편집하기</a>
            <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    const prevButton = document.querySelector('.prev-button');
    const nextButton = document.querySelector('.next-button');
    const currentImage = document.querySelector('.image-container.current');

    prevButton.addEventListener('click', () => {
        const prevImage = currentImage.previousElementSibling;
        if (prevImage) {
        currentImage.classList.remove('current');
        prevImage.classList.add('current');
        }
    });

    nextButton.addEventListener('click', () => {
        const nextImage = currentImage.nextElementSibling;
        if (nextImage) {
        currentImage.classList.remove('current');
        nextImage.classList.add('current');
        }
    });
</script>